body {
    background-color: #F8F9FA;
}

.card-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-item {
    width: 320px;
    height: 380px;
    background-color: white;
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
    transition: all .4s;
}

.card-item:hover {
    margin-top: .4rem;
    box-shadow: rgb(0 0 0 / 8%) 0px 12px 16px 0px;
}

.card-item__main-info {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card-item__thumbnail{
    width: 320px;
    height: 170px;
    object-fit: cover;
}

.card-item__user-info__thumbnail {
    width: 24px;
    border-radius: 12px;
    object-fit: cover;
}

.card-item__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 12px;
}

.card-item__preview {
    margin-bottom: 12px;
    flex: 1;
    line-height: 1.5em;
}

.card-item__sub-info {
    font-size: 17px;
    color: rgb(134, 142, 150);
}

.card-item__bottom-info {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 1rem;
}

.card-item__bottom-info > * {
    display: flex;
    align-items: center;
}

.card-item__bottom-info span {
    padding-left: 12px;
}
